<!-- views/index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiseCart</title>

    <style>
        body {
            margin: 0px;
            font-family: 'Montserrat', sans-serif;
            position: relative;
        }


        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://www.zmaxmedia.com/wp-content/uploads/Online-Shopping.jpg');
            background-size: cover;
            filter: brightness(70%);
            /* Adjust the brightness percentage as needed */
            z-index: -1;
        }


        h1,
        h2,
        h3 {
            color: #FF416C;
        }


        nav.navbar {
            margin: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ff2e5e;
            /* background: linear-gradient(to right, #FF4B2B, #fd8b71, #f97b98, #fd2b5c);     #fa6acf, */
            /* background: linear-gradient(to right, #fd2b5c, #fc70bb, #fd2b5c); */
            border: #FF416C;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .navbar-left {
            display: flex;
            align-items: center;
        }

        .navbar-left a {
            margin-right: 20px;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            transition: color 0.3s;
        }

        .navbar-left a:hover {
            color: #A8C0FF;
        }

        .navbar-left span {
            background-color: #fff;
            padding: 4px;
            margin-left: 20px;
            color: black;
            /* color: #3F2B96; */
            font-weight: bold;
            font-size: 22px;
        }

        .navbar-right a {
            margin-left: 20px;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            transition: color 0.3s;
        }

        .navbar-right a:hover {
            color: #A8C0FF;
        }

        svg {
            margin-right: 1px;
            fill: #faf6f6;
            /* Red color for the heart */
        }

        button {
            border-radius: 20px;
            border: 1px solid #FF416C;
            background: linear-gradient(to right, #FF4B2B, #FF416C);
            color: #FFFFFF;
            font-size: 20px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        }

        /* Index Styles */
        form {
            background: #FFFFFF;
            border-radius: 10px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
            width: 480px;
            margin: 210px auto;
            padding: 50px;
            display: flex;
            flex-direction: column;
        }

        input[type="text"],
        select {
            padding: 20px;
            border: 1px solid #eee;
            border-radius: 20px;
            font-size: 18px;
            margin-bottom: 10px;
        }

        select[name="category"] option {
            color: #6c757d;
            /* Match with the input placeholder color */
        }

        button {
            margin-top: 10px;
            padding: 20px;
        }

        a:hover {
            stroke: #A8C0FF
        }

        a:hover svg {
            stroke: #A8C0FF
        }

        .search-history-box {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f0f0f0;
        }
        
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-left">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="20" height="20">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M3 3h2l2.92 14.58a2 2 0 0 0 1.96 1.42h8a2 2 0 0 0 1.96-1.42L19 7H6"></path>
                </svg>
                WiseCart
            </span>
        </div>
        <div class="navbar-right">
            <a href="/profile">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" width="18" height="22">
                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                    <circle cx="12" cy="7" r="4"></circle>
                </svg>
                Profile
            </a>
            <a href="/wishlist">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 5 24 8" fill="none" stroke="currentColor"
                stroke-width="4" stroke-linecap="round" stroke-linejoin="round" width="18" height="22">
                <path
                d="M12 21.35l-1.45-1.32C5.4 14.25 2 11.1 2 7.25 2 4.42 4.42 2 7.25 2c1.74 0 3.41.81 4.75 2.19C13.34 2.81 15.01 2 16.75 2 19.58 2 22 4.42 22 7.25c0 3.85-3.4 7-8.55 12.8L12 21.35z"
                stroke="currentColor" />
            </svg>
            Wishlist
        </a>
        <a href="/logout">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="none" stroke="#aaa" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" width="22" height="25">
                <path d="M18 20H8a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2z"></path>
                <polyline points="11 16 15 12 11 8"></polyline>
                <line x1="15" y1="12" x2="3" y2="12"></line>
            </svg>
            Logout
        </a>
    </div>
    </nav>


    <form action="/search" method="post">
        <select name="category" required>
            <option value="" disabled selected>Select Category</option>
            <option value="electronics">Electronics</option>
            <option value="lifestyle">Lifestyle</option>
            <option value="flights">Flights</option>
        </select>
        <div id="flight-search" style="display: none;">
            <input type="text" name="origin" placeholder="Origin City">
            <input type="text" name="destination" placeholder="Destination City">
            <div style="margin-left: 10px; display: flex;">
                <label style="margin-right:20px;margin-left: 12px;" for="departureDate">Departure Date:</label>
                <input type="date" name="departureDate" id="departureDate" placeholder="Departure Date">
            </div>
        </div>
        <div id="product-search" style="display: block;">
            <input type="text" name="search" placeholder="Search products" id="productSearchInput">
        </div>
        <button type="submit">Search</button>
        <div id="search-history" style="width: 100%; text-align: center;">
            <h3 style="color: black; font-size: 16px;">Recent Searches</h3>
            <div class="search-history-container" style="display: flex;flex-wrap: wrap; justify-content: center;">
                <% searchHistory.forEach(function(term) { %>
                    <div class="search-history-box"><%= term %></div>
                <% }); %>
            </div>
        </div>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const form = document.querySelector('form');
            const categorySelect = document.querySelector('select[name="category"]');
            const flightSearchSection = document.getElementById('flight-search');
            const productSearchInput = document.getElementById('productSearchInput');
            const flightInputs = flightSearchSection.querySelectorAll('input');

            const toggleSections = () => {
                if (categorySelect.value === 'flights') {
                    flightSearchSection.style.display = 'block';
                    productSearchInput.style.display = 'none'; // Hide the product search input field
                    productSearchInput.disabled = true; // Disable the "search" input field
                    flightInputs.forEach(input => input.required = true); // Make flight fields required
                } else {
                    flightSearchSection.style.display = 'none';
                    productSearchInput.style.display = ''; // Show the product search input field
                    productSearchInput.disabled = false; // Enable the "search" input field
                    flightInputs.forEach(input => input.required = false); // Make flight fields not required
                }
            };

            // Initial toggle based on default category
            toggleSections();

            // Event listener for category change
            categorySelect.addEventListener('change', toggleSections);
        });
    </script>
</body>

</html>
